
body {
    background: #fafafa;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 50px;
}

header.header {
    background: #fff;
    padding: 25px 0 15px;
}

header.header .social-media li a {
    color: #555;
    font-size: 2.5em;
    text-decoration: none;
}

header.header .social-media li a:hover {
    color: #333;
}
