
body {
    background: #fafafa;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 3em;
}

header.header {
    background: #fff;
    box-shadow: 0 0 3px #869CAD;
    padding: 2em 0 1.5rem;
}

header.header .social-media li {
    margin-left: 2ch;
}

header.header .social-media li a {
    color: #555;
    font-size: 3.5rem;
    text-decoration: none;
}

header.header .social-media li a:hover {
    color: #333;
}

main {
    padding-top: 0.5em;
}

main h2 {
    padding-bottom: 1em;
}

.full-width {
    width: 100%;
}
